/* .reportBugBtn {
    border: var(--main-Border);
    font-size: 1.5vw;
    width: 50%;
    height: 3vw;
    border-radius: 3rem;
    background-color: var(--Orange);
    overflow: hidden;
    transition: all .5s cubic-bezier(.79, -1, .37, 2);
}

.reportBugBtn:hover {
    transform: scale(1.2);
    color: var(--White);
    background-color: var(--Black);
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .my-thing {
    @apply flex;
    @apply bg-white-200;
} */
/* @layer components {
    .modalSubmitBtn {
        @apply text-xs w-[6vw] leading-8 mt-4 bg-pink-200 rounded-3xl text-zinc-900 hover: bg-lime-500 hover:text-white transition-custom;
    }
} */

/* .modalSubmitBtn {
    @apply text-xs w-[6vw] leading-8 mt-4 bg-pink-200 rounded-3xl text-zinc-900 hover: bg-lime-500 hover:text-white transition-custom;
} */

/* ['modalBtn text-xs w-[6vw] leading-8 mt-4 bg-pink-200 rounded-3xl text-zinc-900 hover:bg-lime-500 hover:text-white transition-custom'] */