.btn-close {
    background-color: var(--White) !important;
    border-radius: 50% !important;
    margin-left: 30px !important;
    color: var(--White) !important;
}

.bugForm .form-control {
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
    border: 1px solid var(--RedBrown)
}

.bugForm .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid var(--Orange) !important;
}

.reportBugBtn {
    border: var(--main-Border);
    font-size: 1.5vw;
    width: 50%;
    height: 3vw;
    margin-bottom: 1vw;
    border-radius: 3rem;
    background-color: var(--Orange);
    overflow: hidden;
    transition: all .5s cubic-bezier(.79, -1, .37, 2);
}

.reportBugBtn:hover {
    transform: scale(1.2);
    color: var(--White);
    background-color: var(--Black);
}
