.score {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 5%;
}

.score h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 2%;
}

.score h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1%;
    margin-top: 2%;
}

.score p {
    position: absolute;
    right: 0px;
    top: 90%;
    animation: .7s fadeIn linear;
    width: 100%;
    overflow-wrap: break-word;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}


