.difficulty select {
	border: var(--main-Border);
	width: 50%;
	height: 3vw;
	border-radius: 3rem;
	background-color: var(--Pink);
	text-align: center;
	cursor: pointer;
	font-size: 1.5vw;
}

.difficulty select option {
	background-color: var(--Pink);
}

.difficulty p {
	font-size: 0.8vw;
	position: absolute;
	right: 0px;
	top: 80%;
	animation: 0.7s fadeIn linear;
	width: 100%;
	height: 100%;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

@media screen and (max-width: 768px) {
	.difficulty select {
		width: 60%;
		height: 10vw;
		font-size: 5vw;
	}

	.difficulty p {
		font-size: 2vw;
	}
}
