.difficulty {
    position: relative;
    width: 100%;
    height: 12%;
    overflow: hidden;
}

.difficulty select {
    border: var(--main-Border);
    width: 50%;
    height: 40px;
    border-radius: 3rem;
    background-color: var(--Pink);
    text-align: center;
    cursor: pointer;
}

.difficultyr select option {
    background-color: var(--Pink);
}

.difficulty p {
    position: absolute;
    right: 0px;
    top: 70%;
    animation: .7s fadeIn linear;
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}