.blank {
    border: var(--main-Border);
}

.speeder {
    border: var(--main-Border);
    background-color: var(--Pink);
}

.lava {
    border: var(--main-Border);
    background-color: var(--RedBrown);
}

.mud {
    border: var(--main-Border);
    background-color: var(--Orange);
}

.end {
    border: var(--main-Border);
    background-color: rgb(255, 0, 255);
}

.player {
    border: 2px solid var(--Black);
    animation: pulse 2s infinite;
}

.visited {
    border: var(--main-Border);
    background-color: var(--LightBlue);
    animation: colorWave 3s linear;
}

@keyframes pulse {
    0% {
        background-color: var(--LightBlue);
    }

    50% {
        background-color: var(--DarkBlue);
    }

    100% {
        background-color: var(--LightBlue);
    }
}

@keyframes colorWave {
    0% {
        background-color: var(--DarkBlue);
    }

    50% {
        background-color: #1f60c8;
    }

    100% {
        background-color: var(--LightBlue);
    }
}
