* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --main-Border: 1px solid #252525;
    --Black: #252525;
    --White: white;
    --DarkBlue: #0444ab;
    --LightBlue: #639bf5;
    --Pink: pink;
    --Orange: orange;
    --RedBrown: brown;
}

.App {
    display: relative;
    background: linear-gradient(to bottom, 
    var(--Pink) 0%, var(--Pink) 35%, 
    var(--Orange) 35%, var(--Orange) 68%, 
    var(--RedBrown) 68%, var(--RedBrown) 100%) repeat;
    font-family: monospace;
    color: var(--Black);
    height: 100vh;
    min-height: 100%;
    width: 100vw;
}