.blankSquare {
    height: 2.5vw;
    width: 2.5vw;
    background-color: darkgray;
    border: var(--main-Border);
    margin-right: 10px;
}

.pinkSquare {
    height: 2.5vw;
    width: 2.5vw;
    background-color: var(--Pink);
    border: var(--main-Border);
    margin-right: 10px;
}

.orangeSquare {
    height: 2.5vw;
    width: 2.5vw;
    background-color: var(--Orange);
    border: var(--main-Border);
    margin-right: 10px;
}

.redSquare {
    height: 2.5vw;
    width: 2.5vw;
    background-color: var(--RedBrown);
    border: var(--main-Border);
    margin-right: 10px;
}